
.App {
    margin: 0 !important;
    padding: 0 !important;
    line-height: 1.2;
    font-family: "Roboto", sans-serif !important;
    color: #888;
    background-color: #F3F6FF;
    box-sizing: border-box;
    /* border:  thin solid red; */
}
